bin/
obj/
build/
extern/
vcpkg/
.vs/
x64/
**/CMakeFiles/
CMakeCache.txt
*.pdb
*.obj
*.ilk
*.exp
*.lib
__pycache__/
*.user
GPT_SECRET_KEY.txt
.env
*.pem
Skyrim.esm
Update.esm
Dawnguard.esm
HearthFires.esm
Dragonborn.esm
